.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  &__item {
    
  }

  &__item-link {
    display: block;
    
    opacity: 0.3;
    transition: opacity $base-transition-time $base-transition-easing;

    &:focus-visible,
    &:hover {
      opacity: 1;
    }

    &:focus-visible svg,
    &:hover svg {
      fill: var(--primary-color);
    }

    svg {
      width: 2rem;
      height: 2rem;
      transition: fill $base-transition-time $base-transition-easing;
    }
  }
}